{% extends 'layout.html' %}

{% block content %}
{%load crispy_forms_tags%}

<div class="header-bar">
    <h1>Edit Profile</h1>
    
    <a href="{% url 'index' %}">&#8592; Back</a>
    
</div>

<div class='container'>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button class='btn btn-danger mt-4' type='submit'>Обновить</button>
        </form>
        
    </div>
</div>


{% endblock content %}
